<!DOCTYPE html>
<html lang="en">

<style>

.image2 {
  border-radius: 50%;
}

    code {
    background: hsl(220, 80%, 90%);
        alignment: left;
}

pre {
    white-space: pre-wrap;
    alignment: left;
    background: hsl(219, 74%, 93%);
}

        div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
}

        .noselect {
                white-space: pre-wrap;
    alignment: left;
    background: hsl(219, 74%, 93%);
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
</style>

<head>
	<!-- Basic -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>STEMizer</title>
	<meta name="description" content="">
	<meta name="keywords" content="">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<!-- Load Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" href="../../static/vita/css/basic.css" />
	<link rel="stylesheet" href="../../static/vita/css/layout.css" />
	<link rel="stylesheet" href="../../static/vita/css/ionicons.css" />
	<link rel="stylesheet" href="../../static/vita/css/owl.carousel.css" />
	<link rel="stylesheet" href="../../static/vita/css/magnific-popup.css" />
	<link rel="stylesheet" href="../../static/vita/css/animate.css" />
      <!-- Bootstrap Core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="static/css/stylish-portfolio.min.css" rel="stylesheet">

	<!--[if lt IE 9]
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	[endif]-->

	<!-- Favicon -->
	<link rel="shortcut icon" href="../../static/vita/images/favicons/favicon.ico">

</head>

<body>
	<!-- Page -->
	<div class="page" id="home-section">

		<!-- Preloader -->
		<div class="preloader">
			<div class="centrize full-width">
				<div class="vertical-center">
					<div class="spinner">
						<div class="double-bounce1"></div>
						<div class="double-bounce2"></div>
					</div>
				</div>
			</div>
		</div>


      {% block content %}


		<!-- Started Background -->
		<div class="started-bg">
			<div class="slide" style="background-image: url(../static/vita/images/works/school.jpg);"></div>
		</div>
		<!-- Header
		<header>
			<div class="top-menu">
				<ul>
					<li class="active">
						<a class="btn_animated" href="#home-section"><span class="circle">Home</span></a>
					</li>
                    {% if current_user.is_authenticated %}
                        <li>
						    <a class="btn_animated" href="{{ url_for('account') }}"><span class="circle">Account</span></a>
					    </li>
                        <li>
						    <a class="btn_animated" href="{{ url_for('logout') }}"><span class="circle">Logout</span></a>
					    </li>
                    {% else %}
                        <li>
						    <a class="btn_animated" href="{{ url_for('login') }}"><span class="circle">Login</span></a>
					    </li>
                        <li>
						    <a class="btn_animated" href="{{ url_for('register') }}"><span class="circle">Register</span></a>
					    </li>
                    {% endif %}

				</ul>
				<a href="#" class="menu-btn"><span></span></a>
			</div>
		</header>-->
    </div>
			<!-- Wrapper -->
			<div class="wrapper">

				<div class="blog-single content-box">
					<div class="row">
						<div class="col col-m-12 col-t-12 col-d-12">

							<div class="text-box">

								<h1>Welcome to STEMizer / Bem-Vindo ao STEMizer</h1>
								<div class="blog-detail">Escolha o idioma / Choose the language</div>

								<!--<div class="blog-image">
									<img src="../../static/vita/images/blog/blog1.jpg" alt="">
								</div>-->

								<div class="blog-content">


            <p class="lead mb-2">Escolha o idioma / Choose the language</p>




			<!-- Wrapper -->
			<div class="wrapper">

				<!-- Blog -->
				<div class="section blog-posts" id="blog-section">
					<div class="row">
						<div class="col col-m-12 col-t-6 col-d-6">
							<div class="blog_item animated">
								<div class="image">
									<a href="{{url_for('login')}}"><img src="static/vita/images/usa.jpg" alt="" /></a>
								</div>
								<div class="content-box">
									<!--<div class="i_title">
										<div class="icon-book"></div>
									</div>-->
									<div class="category_bts">
										<a href="#" class="category">#stem</a>
										<a href="#" class="category">#robotics</a>
									</div>
									<a href="{{url_for('login')}}" class="name">Welcome to STEMizer</a>
									<p>
										An online educational tool to apply Robotics concepts into STEM fields
									</p>
									<a href="{{url_for('login')}}" class="btn btn_animated"><span class="circle">Begin</span></a>
								</div>
							</div>
						</div>
						<div class="col col-m-12 col-t-6 col-d-6">
							<div class="blog_item animated">
								<div class="image">
									<a href="{{url_for('login')}}"><img src="static/vita/images/br.jpg" alt="" /></a>
								</div>
								<div class="content-box">
									<!--<div class="i_title">
										<div class="icon-book"></div>
									</div>-->
									<div class="category_bts">
										<a href="#" class="category">#stem</a>
										<a href="#" class="category">#robótica</a>
									</div>
									<a href="{{url_for('login')}}" class="name">Bem-vindo ao STEMizer</a>
									<p>
										Uma ferramente online de educação para aplicar conceitos de Robótica nas áreas de STEM
									</p>
									<a href="{{url_for('login')}}" class="btn btn_animated"><span class="circle">Começar</span></a>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>






            </div>

							</div>

						</div>
					</div>
				</div>

			</div>

        {% endblock %}

<!-- Footer -->
			<footer>
				<div class="copy">© 2019 STEMizer. All rights reserved.</div>
			</footer>
	<!-- jQuery Scripts -->
	<script src="../../static/vita/js/jquery.min.js"></script>
	<script src="../../static/vita/js/owl.carousel.min.js"></script>
	<script src="../../static/vita/js/jquery.validate.js"></script>
	<script src="../../static/vita/js/magnific-popup.js"></script>
	<script src="../../static/vita/js/masonry.pkgd.js"></script>
	<script src="../../static/vita/js/imagesloaded.pkgd.js"></script>
	<script src="../../static/vita/js/masonry-filter.js"></script>
	<script src="../../static/vita/js/scrollreveal.js"></script>
	<script src="../../static/vita/js/jquery.mb.YTPlayer.js"></script>
	<script src="../../static/vita/js/particles.js"></script>

	<!-- Google map api -->
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

	<!-- Main Scripts -->
	<script src="../../static/vita/js/main.js"></script>
</body>
</html>